 <!-- <nav class="navbar navbar-expand-sm fixed-top bg-main nav-custom">
  <div class="container-fluid bg-main">
    
      <a class="navbar-brand " href="#">
        <img src="assets/img/logo1.png" height="40"  class="rounded" alt="Los Angeles">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <div class="d-flex w-100">
        <input class="form-control fs-12" type="search" [(ngModel)]="searchText" placeholder="Search" aria-label="Search" (keyup.enter)="search()">
      </div>
          
      <ul class="navbar-nav ml-4  col-lg-5 col-md-5 col-sm-6">
        <li class="nav-item  col-lg-6 col-md-6 col-sm-6">
          <a class="nav-link" href="#"><img src="assets/img/user.png" height="40" class="rounded" alt="Los Angeles"></a>
        </li>
        <li class="nav-item col-lg-6 col-md-6 col-sm-6">
          <a class="nav-link" href="#"><img src="assets/img/shopping-cart.png" height="40" class="rounded" alt="Los Angeles"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>  -->

<nav class="navbar navbar-expand-md fixed-top bg-main nav-custom">
  <div class="container-fluid bg-main">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="assets/img/logo1.png" height="40"  class="rounded" alt="Los Angeles">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="mynavbar">
      <div class="d-flex w-100">
        <input class="form-control mrl-10 fs-12 w-80 pl-4 pr-4" type="search" [(ngModel)]="searchText" placeholder="Search" aria-label="Search" (keyup.enter)="search()">
        <a class="nav-link ml-4 me-2" href="#"><img src="assets/img/user.png" height="35" class="rounded" alt="Los Angeles"></a>
        <a class="nav-link" href="#"><img src="assets/img/shopping-cart.png" height="35" class="rounded" alt="Los Angeles"></a>
      </div>

    </div>
  </div>
</nav>